.container{
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}
.contact-img{
	object-fit: cover;
	object-position: center;
	width: 500px;
	height: 400px;
	padding: 20px 5px 20px 0;
	/*! opacity: 1 !important; */
}
.contact-text{
	position: relative;
	padding: 15px;
	font-family: arial;
	font-size: 25px;
}
.contact-text a{
	font-family: sans-serif;
	color: #7b7bca;
	font-size: 30px;
}
.contact-text ul{
	color: #adadad;
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 25px;
}
.contact-text li a{
	display: inline-flex;
}
.contact-text li img{
	width: 35px;
	padding:0px 7px 0px 0px;
}
.wholecontainer{
	padding: 0px;
}
.contact-img img{
	opacity: 1 !important;
	border-radius: 200px;
	transition: 0.4s;
}
.contact-img img:hover{
  border-radius: 50px;
	transition: 0.5s;
	transform: scale(1.15);
}