.container{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: hidden;
}
.details{
  margin-top: 50px;
  padding: 10px 30px 10px 30px;
  font-family: arial;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.details label{
  padding: 5px;
  color: #8d8dc7;
  font-size: 26px;
}
.container{
  height: 400px;
}
.container .formarea{
  background-color: #f2eeee;
  border: 1px solid rgba(0,0,0,.1);
  position: absolute;
  transform: translate(47%,3%);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 5px #908c8c;
  box-sizing: border-box;
  z-index: 1;
}
.formarea h1{
  text-align: center;
  font-family: arial;
  color: #8e8ec7;
  font-size: 40px;
}

.formarea form{
  padding: 20px;
}
.container form{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}
.container form input{
  border: none;
  border-bottom-color: black;
  border-bottom-style: groove;
  outline: none;
  padding: 2px;
  margin: 10px 0px 10px 0px;
  background-color: #f2eeee;
}
.buttons{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  margin-top: 20px;
}
.buttons button{
  width: 45%;
  background-color: #7b7bc9;
  font-family: arial;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  color: #f2eeee;
  padding: 10px;
}


@media screen and (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }
  .container {
  height: auto;
  }
  .container .formarea{
    position: absolute;
    transform: translate(15%,0%);
   }
  .container .details{
    position: relative;
    width: 100%;
    padding: 50px 0px;
    margin-top: 350px;
  }
 }

 @media screen and (max-width: 780px) {
  .container .formarea{
    width: auto;
    transform: translate(-1%,-0%);
    overflow-x: hidden;
  }
   body{
     overflow-x: hidden;
   }
}

 @media screen and (max-width: 435px)
{
  body{
    overflow-x: hidden;
  }
  header{
    width: 100%;
  }
  nav{
    overflow-x: hidden;
  }
  .container .formarea{
    width: 102%;
    transform: translate(-5%,0%);
    display: flex;
    /*! flex-wrap: wrap; */
    justify-content: space-around;
  }
  .formarea form{
    width: 180%;
  }
  .container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}